@import "./color_schemes/dark";

a{
color:#0367A6;
}

@media (min-width: 55.5rem) {
.side-bar{width: calc((100% - 66.5rem) / 2 + 1.5rem);}
}

@media (min-width: 50rem) {
    .main {
        max-width: 67rem;
    }
}

.site-logo {
height: 150%;
}

